
.Navbar {
    grid-area: Navbar;
    background: #545170;
    padding: 10px;
}

a {
    text-decoration: none;
}
.item {
    color: beige;
    text-decoration: none;
    
}
.active {
    color:coral;
}
